<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu/tab3" text=""></ion-back-button>
        </ion-buttons>
        <ion-avatar slot="start" class="avatar-chat">
            <img src={{userOtro.imagen}}>
        </ion-avatar>
        <ion-label class="name-chat" slot="start">
            <p>{{userOtro.nombre}} {{userOtro.apellidos}}</p>
        </ion-label>
        <ion-buttons slot="end" (click)="plugin.presentActionSheet(false)">
            <ion-button>
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content #scrollElement [fullscreen]="true">
    <ion-grid>
        <ion-row *ngFor="let mensaje of mensajes">
            <ion-col size="9" *ngIf="currentUser !== mensaje.uid" class="message other-message">
                <!--                 <b>{{message.user}}</b><br> -->
                <span>{{mensaje.mensaje}}</span>
                <div class="time" style="color:black !important" text-right><br> {{mensaje.creado.toDate() | date:'dd/MM/yyyy'}}
                </div>
            </ion-col>
            <ion-col offset="3" size="9" *ngIf="currentUser === mensaje.uid" class="message my-message">
                <!-- <b>{{message.user}}</b><br> -->
                <span>{{mensaje.mensaje}}</span>
                <div class="time" text-right><br> {{mensaje.creado.toDate() | date:'dd/MM/yyyy'}}
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-item lines="none">
            <ion-input [(ngModel)]="nuevoMensaje" type="text" placeholder="Aa"></ion-input>
            <ion-buttons slot="end">
                <ion-button (click)="enviarMensaje()" color="primary">
                    <ion-icon slot="icon-only" name="send"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-toolbar>
</ion-footer>